@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-v18-latin-700.woff') format('woff');
}

html{
  box-sizing: border-box;
}

*::before,
*::after,
*{
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}