body{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

ul li:not(.side-bar-li)::before{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	left: 0px;
	content: "";  
	color: #00BAFC;
	font-weight: bold; 
	width: 12px;
	height: 12px;
	background-color:#00BAFC;
	border:solid 3px #00BAFC;
	border-radius: 50%;
	margin-left: 0; 
	text-align: center;
}

ul li:not(.side-bar-li){
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 20px;
	line-height: 24px;
}

ul{
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
}

header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 56px;
	position: fixed;
	top: 0;
	z-index: 5;
	background: #fff;
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	width: 100vw;
	
}

.logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.logo:hover{
	opacity: 0.8;
}

.logo:active{
	opacity: 0.4;
}

.wrapper1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1098px;
}

header, .heading{
	padding:0 8vw;
}

.head-nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
	height: 100%;
	color: #000;
	border:solid 0.000001px transparent;
}

.head-nav-a:hover{
	border-bottom: solid 3px #191919;
}

.head-nav-a:active{
	color:white;
	background-color: rgba(0,0,0,0.7);
}

.head-nav-a{
	color: #000;
	font-size: 15px;
	line-height: 24px;
	padding: 15px 16px;
	height: 56px;
}

.phone{
	padding: 8px 16px;
	background-color: #00BAFC;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	border:3px solid transparent;
}

.phone:hover{
	border-bottom: none;
	background-color: #fff;
	border:3px solid #00BAFC;
	color: #00BAFC;
	font-weight: normal;
}

.phone:active{
	background-color: #00BAFC;
	opacity: 0.6;
	color: white;
}

.side-bar-wrapper{
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 140px;
	-webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	position: absolute;
	top:40px;
	background-color: #fff;
	padding: 8px 0;
	border-radius: 5px;
}

.head-nav li:hover .side-bar-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.side-bar-li a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	line-height: 24px;
	height: 40px;
	color: black;
}

.side-bar-li a p{
	margin-left: 16px;
}

.side-bar-li:hover a{
	color:white;
}

.side-bar-li:hover{
	background-color: #00BAFC;
}

.side-bar-li:active{
	opacity: 0.6;
}

/*end of header*/

.heading{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1250px;
	padding: 128px 0;
}

.heading h1, p{
	margin: 0;
}

.heading h1{
	font-size: 40px;
	line-height: 130%;
}

.heading p{
	text-align: center;
	width: 800px;
	line-height: 24px;
	margin-top: 16px;
}

/*end of heading*/

.section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100vw;
	padding-top: 16px;
	padding-bottom: 56px;
	background-color:#F4F4F4;
}

.wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 32px;
	margin-top: 64px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
	        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
}

.text-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 500px;
	height: 338px;
	margin-left: 40px;
}

.text-wrapper h2,p{
	margin: 0;
}

.text-wrapper>p{
	line-height: 24px;
}

.wrapper .text-wrapper>ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.wrapper:first-child .text-wrapper>ul{
	width: 125px;
	height: 176px;
}

.wrapper:nth-child(2) .text-wrapper>ul{
	height: 208px;
}

.wrapper:nth-child(3) .text-wrapper>ul{
	height: 152px;
}

.wrapper:nth-child(4) .text-wrapper>ul{
	height: 120px;
}

.wrapper:nth-child(5) .text-wrapper>ul{
	height: 120px;
}

.button{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 16px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #00BAFC;
	border-radius: 5px;
	outline: none;
	border:none;
}

.button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.button:active{
	opacity: 0.6;

}

.buttons{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 313px;
}

.buttons a{
	color: #00BAFC;
	text-decoration: underline;
}

.form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #00BAFC;
	height: 543px;
	width: 100vw;
	color: #fff;
}

.null{
	width: 719px;
	text-align: center;
	line-height: 24px;
}

form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 24px;
	width: 348px;
	height: 320px;
	background-color: #fff;
	border-radius: 5px;
}

input, select{
	outline: none;
	width: 300px;
	height: 56px;
	border: none;
	background-color: #F3F3F3;
	border-radius: 5px;
}


footer *{
	color: white;
}

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100vw;
	position: relative;
	bottom:0;
	color: white;
	border:0.0000001px solid transparent;
	background-color: #191919;
}

.footer{
	padding: 56px 0 120px 20vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1300px;
}

.copyright{
	margin-right: 100px;
	height: 162px;
	width: 320px;
}

.copyright,.sayt-sahifalari,.biz-internetda{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.copyright h3, .sayt-sahifalari h3,.biz-internetda h3 {
	margin: 0;
	margin-bottom: 16px;
}

.copyright p{
	margin: 0;
	line-height: 24px;
}

.sayt-sahifalari{
	margin-right: 87px;
	width: 143px;
	height: 226px;
}

.footer-nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.footer-nav li a:hover,.internet li a:hover p{
	color: #00BAFC;
} 

.footer-nav li a:active,.internet li a:active{
	opacity: 0.6;
}

.footer-nav li{
	margin-bottom: 8px;
}

.biz-internetda{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.internet li a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 8px;
}

.internet li a p{
	margin: 0;
	margin-left: 8px;
}